[Unit]
Description=Tippspiel backend service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=felix
WorkingDirectory=/home/felix/tippspiel/backend/
EnvironmentFile=/etc/tippspiel/backend.env
ExecStart=/home/felix/.local/bin/uv run gunicorn --bind 0.0.0.0:5000 'main:create_app(env="prod")'
StandardOutput=append:/home/felix/tippspiel/gunicorn.log
StandardError=append:/home/felix/tippspiel/gunicorn.log

[Install]
WantedBy=multi-user.target
