.positive {
  background: var(--fg-primary);
  color: white;
  border: 2px solid darkblue;
}

.negative {
  background: var(--fg-secondary);
  color: var(--bg-secondary)
}

.neutral {
  background: gray;
  border: var(--border-m);
}

.button {
  width: var(--width-m);
  height: var(--height-s);
  border-radius: var(--corner-s);
  text-align: center;
}

.flexible_width {
  width: 100%;
}

.flexible_height {
  height: 100%;
}

.enabled {
  transition: filter 0.2s ease;

  &:hover {
    filter: brightness(1.15);
  }
}

.disabled {
  filter: opacity(0.2) saturate(0.1);
}