.container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  grid-gap: var(--grid-s);
  width: 100%;
  padding: var(--grid-s);
}

.buttonContainer {
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 1fr;
  align-items: end;
}

.textContainer {
  text-align: left;

}