

:root {
  --grid-xs: 5px;
  --grid-s: 10px;
  --grid-m: 20px;
  --grid-l: 30px;

  --corner-s: 8px;
  --corner-m: 16px;
  --corner-l: 24px;

  --border-m-light: 2px solid var(--bg-secondary);
  --border-m-dark: 2px solid var(--fg-primary);

  --height-xs: 30px;
  --height-s: 40px;
  --height-m: 50px;
  --height-l: 60px;
  --height-xl: 120px;


  --width-s: 120px;
  --width-m: 220px;
  --width-l: 320px;

  --font-size-s: 12px;
  --font-size-m: 16px;
  --font-size-l: 20px;

  --font_weight: 600;

  --inline-inset-s: 12px;
  --inline-inset-m: 16px;

  --icon-size-m: 52px;

  --bg-primary: #A8DADC;
  --bg-secondary: #F1FAEE;

  --fg-primary: #1D3557;
  --fg-primary_light: #457B9D;
  --fg-secondary: #808080;

  --text-dark: #000000;
  --text-light: #F1FAEE;


  --green-primary: #00B23D;
  --green-primary-filter: invert(45%) sepia(36%) saturate(6913%) hue-rotate(122deg) brightness(102%) contrast(101%);

  --yellow-primary: #D0C02B;
  --yellow-primary-filter: invert(84%) sepia(78%) saturate(505%) hue-rotate(343deg) brightness(83%) contrast(94%);

  --red-primary: #D94649;
  --red-primary-filter: invert(30%) sepia(73%) saturate(1362%) hue-rotate(327deg) brightness(100%) contrast(87%);

  --orange-primary: #FFA800;
  --grey-primary: #404040;

  --bg-fx-blur: blur(30px) saturate(2);

  --shadow-none: drop-shadow(0 0 0px transparent);
  --shadow-xs: drop-shadow(0 0 3px #00000040);
  --shadow-s: drop-shadow(0 0 8px #00000030);
  --shadow-m: drop-shadow(0 0 15px #00000040);
  --shadow-l: drop-shadow(0 0 28px #00000040);
}

body:has(.theme-dark) {
  --fg-primary: #d9a026; //#FF6500;
  --fg-primary_light: #616a24;
  --fg-secondary: #A8DADC;

  --bg-primary: #1E3E62;
  --bg-secondary: #0B192C;

  --text-dark: #F1FAEE;
  --text-light: #000000;
}

* {
  box-sizing: border-box !important;
  user-select: none;
}

@font-face {
  font-family: "Inter var";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../assets/fonts/Inter.var.woff2");
}

body {
  height: 100vh;
  width: 100vw;

  margin: 0 !important;
  padding: var(--grid-s) !important;

  font-family: "Inter var";

  background: var(--bg-primary);
  background-size: 100% 100%;
}

#root {
  display: contents;
}

.text {
  &-regular {
    font-size: 16px;
    font-weight: 400;
  }

  &-emphasis {
    font-size: 16px;
    font-weight: 600;
  }

  &-subtitle {
    font-size: 24px;
    font-weight: 400;
  }

  &-title {
    font-size: 60px;
    font-weight: 500;
  }

  &-subtitle_emphasis {
    font-size: 30px;
    font-weight: 600;
  }
}

h1, h2, a, button, input {
  all: unset;
}

input, textarea {
  -webkit-user-select: text;
}