.div {
  position: relative;
  height: 44px;
}

.wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;


  border: var(--border-m-light);//1px solid #dfe1e5;
  border-radius: 24px;

  background-color: var(--bg-secondary);
  color: var(--text-dark);

  font-size: 16px;
  font-family: Arial;

  z-index: 0;

  &:hover {
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
  }
  &:active {
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
  }
  &:focus-within {
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px
  }
}
