line {
  border-top-color: rgb(232, 234, 237);
  border-top-style: solid;
  border-top-width: 1px;

  margin: 0 20px 0 14px;

  padding-bottom: 4px;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 16px 0;

  > li {
    display: flex;
    align-items: center;
    padding: 4px 0 4px 0;

    > div {
      margin-left: 13px;
    }
  }
}

.ellipsis {
  text-align: left;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected {
  background-color: #eee;
}