.container {
  min-height: 44px;
  width: 100%;

  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  height: 40px;
  padding: 0 0 0 13px;

  border: none;
  outline: none;

  background-color: rgba(0, 0, 0, 0);
  font-size: inherit;
  font-family: inherit;

  color: var(--text-dark);

  ::placeholder {
    color: grey;
    opacity: 1;

    :-ms-input-placeholder {
      color: grey;
    }

    ::-ms-input-placeholder {
      color: grey;
    }
  }
}