.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: var(--grid-s);
  justify-content: center;
  width: 100%;
}

.container {
  margin-top: var(--grid-m);
  margin-bottom: var(--grid-l);
  display: flex;
  flex-direction: row;
  grid-gap: var(--grid-s);
}

.creatorContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-gap: var(--grid-s);
  justify-content: center;
  margin-bottom: var(--grid-l);
}

.creatorItem {
  max-width: 800px;
  width: 100%;
  height: 100%;
}

.height {
  height: 75%;
}