@media (min-width:0) {
  .container {
    height: 500px;
  }
}

@media (min-width:400px) {
  .container {
    height: 450px;
  }
}

.center {
  max-width: 100%;
  display: flex;
  justify-content: center;
}