.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: var(--grid-s);
  justify-content: center;
  width: 100%;
}

.row {
  width: 90%;
  grid-gap: var(--grid-s);
  display: flex;
  align-items: center;
  justify-content: center;
}

.simpleContainer {
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: var(--grid-s);
}

.settingItem {
  margin-bottom: var(--grid-s);
}

.innerItems {
  padding-left: var(--grid-s);
}

.innerItem {
  margin-bottom: var(--grid-xs);

}

.text {
  color: var(--text-dark);
  margin-top: var(--grid-l);
  margin-bottom: var(--grid-s);
}

.settingsItemText {
  color: var(--text-dark);
  composes: text-emphasis from global;
  margin-bottom: var(--grid-xs);
}

.notificationToggle {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--grid-s);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--grid-s);
}

.deleteButtonContainer {
  margin-top: 50px;
  width: 50%;
}