.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: var(--grid-s);
  justify-content: center;
  width: 100%;
}

.row {
  width: 90%;
  grid-gap: var(--grid-s);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--grid-s);
}

.deleteButtonContainer {
  width: 50%;
}