.positive {
  background: var(--fg-primary);
  color: white;
  border: 2px solid darkblue;
}

.negative {
  background: var(--fg-secondary);
  color: var(--bg-secondary)
}

.neutral {
  background: gray;
  border: var(--border-m);
  color: var(--bg-secondary);
}

.button {
  cursor: pointer;
  width: var(--width-m);
  height: var(--height-s);
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  grid-gap: var(--grid-s);
}

.icon {
  height: 80%;
}

.flexible_width {
  width: 100%;
}

.flexible_height {
  height: 100%;
}

.enabled {
  transition: filter 0.2s ease;

  &:hover {
    filter: brightness(1.3);
  }
}

.disabled {
  filter: opacity(0.2) saturate(0.1);
}

.topRight {
  border-top-right-radius: var(--corner-s);
}

.bottomRight {
  border-bottom-right-radius: var(--corner-s);
}

.bottomLeft {
  border-bottom-left-radius: var(--corner-s);
}

.topLeft {
  border-top-left-radius: var(--corner-s);
}