.dialog {
  width: 400px;
  border-radius: 8px;
  border: 1px solid #888;
  background: var(--bg-secondary);

  ::backdrop {
    background: var(--bg-secondary);
  }
}

.buttons {
  display: flex;
  gap: 20px;
}

.heading {
  color: var(--text-dark);
}