.textField {
  padding: 0 var(--grid-m);
  width: 100%;
  color: var(--fg-primary);
  height: var(--height-s);
  border-radius: var(--corner-s);
  border: 2px solid var(--fg-primary);
  background-color: var(--bg-secondary);
  backdrop-filter: var(--bg-fx-blur);

  &::placeholder {
    color: var(--fg-primary_light);
  }

  transition: filter 0.2s ease, background-color 0.2s ease;

  &:focus-within {
    filter: var(--shadow-l);
  }
}